*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    color: #2B2D42;
    text-decoration: none;
    cursor: pointer;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #2B2D42;
    font-family: 'Roboto';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

.wrapper {
    background-color: #E5E5E5;
    min-height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('../fonts/Roboto-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('../fonts/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('../fonts/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('../fonts/Roboto-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../fonts/Montserrat-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../fonts/Montserrat-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../fonts/Montserrat-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans'), url('../fonts/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans'), url('../fonts/OpenSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@-webkit-keyframes tel {
    0%,
    50%,
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
    10%,
    30% {
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
    }
    20%,
    40% {
        transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
    }
}

@keyframes tel {
    0%,
    50%,
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
    10%,
    30% {
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
    }
    20%,
    40% {
        transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
    }
}

._container {
    max-width: 1440px;
    padding: 0 50px;
    margin: 0 auto;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header__content-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0px 30px 30px 30px;
}

.menu__header {
    background: -webkit-gradient(linear, left top, left bottom, from(#434669), color-stop(155.83%, #131528));
    background: -o-linear-gradient(top, #434669 0%, #131528 155.83%);
    background: linear-gradient(180deg, #434669 0%, #131528 155.83%);
}

.burger__menu {
    padding-top: 47px;
    cursor: pointer;
    padding-bottom: 41px;
}

.menu__header-burger {
    position: relative;
    width: 50px;
    height: 3px;
    background-color: #EDF2F5;
}

.menu__header-burger.active {
    width: 0;
    height: 0;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.menu__header-burger::before {
    content: '';
    position: absolute;
    background-color: #EDF2F5;
    bottom: 16px;
    width: 50px;
    height: 3px;
}

.menu__header-burger.active::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.menu__header-burger::after {
    content: '';
    position: absolute;
    background-color: #EDF2F5;
    top: 16px;
    width: 50px;
    height: 3px;
}

.menu__header-burger.active::after {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 0;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}


/*.header__content-tel {
    font-size: 36px;
    font-style: normal;
    line-height: 54px;
    letter-spacing: 0.02em;
}

.header__content-tel:hover {
    transform: scale(1.1);
    display: block;
}
*/

.header__content-tel {
    display: block;
    font-size: 36px;
    font-style: normal;
    line-height: 54px;
    letter-spacing: 0.02em;
}

.header__content-tel:hover {
    -webkit-animation: 1.2s ease-in-out 0s normal none infinite running tel;
    animation: 1.2s ease-in-out 0s normal none infinite running tel;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    color: #DA042A;
}

.header__content-tel:active {
    color: #C00A12;
}

.logo__display-block {
    display: block;
}

.burger__menu-nav {
    display: none;
    margin-top: 50px;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}

.burger__menu-item {
    padding-top: 30px;
}

.burger__display {
    display: none;
}

.burger__menu-link {
    color: #EDF2F5;
    font-size: 24px;
    line-height: 30px;
}

.burger__menu-link:hover {
    color: #DA042A;
}

.burger__menu-link:active {
    color: #C00A12;
}

.country__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.country__content-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 60px;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
}

.country__content-link {
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-position: center;
}

.country__content-link.active {
    position: relative;
    border: 2px solid;
    content: '';
    display: block;
    padding: 20px;
    border-radius: 50%;
}

.rus {
    background-image: url(../images/country/header__country1.svg);
    background-repeat: no-repeat;
}

.eng {
    background-image: url(../images/country/header__country2.svg);
    background-repeat: no-repeat;
}

.arm {
    background-image: url(../images/country/header__country3.svg);
    background-repeat: no-repeat;
}

.geo {
    background-image: url(../images/country/header__country4.svg);
    background-repeat: no-repeat;
}

.kz {
    background-image: url(../images/country/Kazakhstanflags__kazajistan_8959.svg);
    background-repeat: no-repeat;
}

.rus.active {
    background-image: url(../images//country/russia.svg);
    background-repeat: no-repeat;
    top: -5px;
}

.eng.active {
    background-image: url(../images/country/english.svg);
    background-repeat: no-repeat;
    top: -5px;
}

.arm.active {
    background-image: url(../images/country/arm.svg);
    background-repeat: no-repeat;
    background-size: 35px;
    top: -5px;
}

.geo.active {
    background-image: url(../images/country/gre.svg);
    background-repeat: no-repeat;
    top: -5px;
}

.kz.active {
    background-image: url(../images/country/kazakhstan.svg);
    background-repeat: no-repeat;
    top: -5px;
    background-size: 50px;
}

.header__content-phone {
    margin-left: 113px;
    padding-top: 47px;
}

.header__text {
    margin: 10px 0px 0px 50px;
    text-transform: uppercase;
    line-height: 28px;
    letter-spacing: 0.105em;
}

.hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer {
    background: -o-linear-gradient(74.47deg, #0B0D25 13.83%, #646695 147.82%);
    background: linear-gradient(15.53deg, #0B0D25 13.83%, #646695 147.82%);
}

.footer__content {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
}

.footer__company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.title__footer {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #ffffff;
    text-transform: uppercase;
}

.text__footer {
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    color: #8D99B1;
}

.text__footer:hover {
    color: #DA042A;
}

.text__footer:active {
    color: #C00A12;
}

.footer__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__tel-link {
    font-size: 30px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 68px;
}

.footer__tel-link:hover {
    color: #DA042A;
    -webkit-animation: 1.2s ease-in-out 0s normal none infinite running tel;
    animation: 1.2s ease-in-out 0s normal none infinite running tel;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.footer__tel-link:active {
    color: #C00A12;
}

.footer__btn {
    padding: 12px 50px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: #fff;
    background: #C00A12;
    -webkit-box-shadow: 1.1165px 21.3041px 42.6667px rgba(44, 1, 8, 0.2), inset -0.744334px -14.2027px 14.2222px #A90321, inset 0.744334px 14.2027px 14.2222px #FF0532;
    box-shadow: 1.1165px 21.3041px 42.6667px rgba(44, 1, 8, 0.2), inset -0.744334px -14.2027px 14.2222px #A90321, inset 0.744334px 14.2027px 14.2222px #FF0532;
}

.footer__btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.footer__btn:active {
    -webkit-box-shadow: 1.1165px 21.3041px 42.6667px rgb(44 1 8 / 20%), inset -0.744334px -14.2027px 14.2222px #a90321, inset 0.744334px 14.2027px 14.2222px #ff0532;
    box-shadow: 1.1165px 21.3041px 42.6667px rgb(44 1 8 / 20%), inset -0.744334px -14.2027px 14.2222px #a90321, inset 0.744334px 14.2027px 14.2222px #ff0532;
}

.bottom__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #8D99B1;
}

.footer__content-bottom {
    margin-top: 136px;
    border: 0.5px solid #8D99B1;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.bottom__footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
    color: #8D99B1;
    margin-bottom: 20px;
}

.bottom__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    color: #8D99B1;
    letter-spacing: 0.02em;
}

.bottom__link:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.bottom__link svg {
    fill: #8D99B1;
    margin-right: 20px;
}

.bottom__footer-text:hover {
    color: #DA042A;
}

.bottom__footer-text:active {
    color: #C00A12;
}


/* MODAL WINDOW  */

.hero__modal-window {
    display: none;
}

.hero__modal-window.open {
    position: fixed;
    width: 100%;
    background-color: #000000a3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    z-index: 2;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    left: 0;
}

.hero__modal-content {
    position: relative;
    max-width: 660px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ffffff;
    margin-top: 30px;
}

.simplebar-content-wrapper {
    overflow: auto;
}

.hero__modal-content svg {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0%;
    right: 0;
    margin: 28px 28px 0px 0px;
}

.hero__modal-content svg:hover {
    width: 40px;
    height: 40px;
}

.hero__modal-title {
    color: #000000;
    margin: 75px 10px 46px 10px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.3%;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 430px;
}

.hero__form-text {
    margin: 0px 0px 30px 0px;
    padding: 20px 0px 20px 24px;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.6%;
    letter-spacing: 0.02em;
    text-align: left;
    background-color: #F2F2F2;
    cursor: pointer;
}

.hero__form-tel {
    margin: 0px 0px 30px 0px;
    padding: 20px 0px 20px 24px;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.6%;
    letter-spacing: 0.02em;
    text-align: left;
    background-color: #F2F2F2;
    cursor: pointer;
}

.hero__form-textarea {
    margin: 0px 0px 30px 0px;
    padding: 20px 0px 107px 24px;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.6%;
    letter-spacing: 0.02em;
    text-align: left;
    background-color: #F2F2F2;
    cursor: pointer;
}

.hero__form-btn {
    margin: 0px 0px 20px 0px;
    padding: 20px 160px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 166.6%;
    letter-spacing: 0.02em;
    text-align: left;
    background: #C00A12;
    -webkit-box-shadow: 1.1165px 21.3041px 42.6667px rgb(44 1 8 / 20%), inset -0.744334px -14.2027px 14.2222px #a90321, inset 0.744334px 14.2027px 14.2222px #ff0532;
    box-shadow: 1.1165px 21.3041px 42.6667px rgb(44 1 8 / 20%), inset -0.744334px -14.2027px 14.2222px #a90321, inset 0.744334px 14.2027px 14.2222px #ff0532;
    color: #FFFFFF;
    cursor: pointer;
    text-transform: uppercase;
}

.hero__form-btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.hero__form-btn:active {
    -webkit-box-shadow: 1.1165px 21.3041px 42.6667px rgb(44 1 8 / 20%), inset -0.744334px -14.2027px 14.2222px #a90321, inset 0.744334px 14.2027px 14.2222px #ff0532;
    box-shadow: 1.1165px 21.3041px 42.6667px rgb(44 1 8 / 20%), inset -0.744334px -14.2027px 14.2222px #a90321, inset 0.744334px 14.2027px 14.2222px #ff0532;
}

.hero__text {
    padding: 20px 115px 100px 115px;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 123%;
    letter-spacing: 0em;
    text-align: center;
    color: #000;
}

.hero__text span {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 142.8%;
    letter-spacing: 0.05em;
    text-align: center;
    color: #DA042A;
}

.hero__text span:hover {
    color: #ff002d;
}

.hero__text span:active {
    color: #c10325;
}


/* MODAL WINDOW  */

.footer__modal-window {
    display: none;
}

.footer__modal-window.open {
    position: fixed;
    width: 100%;
    background-color: #000000a3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    z-index: 50;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    left: 0;
}

.footer__modal-content {
    position: relative;
    max-width: 660px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ffffff;
    margin-top: 30px;
}

.footer__modal-content svg {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0%;
    right: 0;
    margin: 28px 28px 0px 0px;
}

.footer__modal-content svg:hover {
    width: 40px;
    height: 40px;
}

.advantage__title {
    margin-top: 80px;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 100px;
}

.advantage__content {
    margin-bottom: 120px;
}

.advantage__back {
    margin-bottom: 200px;
}

.advantage__back-link {
    text-transform: uppercase;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.05em;
    border: 1px solid;
    padding: 20px 50px;
}

.advantage__back-link:hover {
    background-color: white;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.advantage__content-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    min-width: 0;
}

.advantage__content-item {
    height: 300px;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    max-width: 345px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 30px 30px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 20px rgb(24 26 51 / 5%);
    box-shadow: 0px 0px 20px rgb(24 26 51 / 5%);
}

.advantage__content-item.active {
    background: -webkit-gradient(linear, left top, left bottom, from(#434669), to(#131528));
    background: -o-linear-gradient(top, #434669 0%, #131528 100%);
    background: linear-gradient(180deg, #434669 0%, #131528 100%);
    -webkit-box-shadow: 0px 30px 50px #181a33;
    box-shadow: 0px 0px 50px #181a33;
    color: #ffffff;
}

.advantage__sibtitle {
    font-size: 28px;
    font-weight: 600;
    line-height: 33px;
}

.advantage__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.advantage__content-item img {
    width: 70px;
    height: 70px;
}

.advantage__slider-pag {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.advantage__slider-pag .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.advantage__slider-pag .slick-dots li {
    list-style: none;
    margin: 0 10px;
}

.advantage__slider-pag .slick-dots li.slick-active button {
    background: linear-gradient(180deg, #434669 0%, #131528 100%);
    width: 12px;
    height: 12px;
}

.advantage__slider-pag .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background: #8D99B1;
    border-radius: 100px;
}

@media (max-width: 1200px) {
    ._container {
        max-width: 1200px;
    }
    .burger__display {
        display: block;
    }
    .country__content-links {
        padding-top: 0;
    }
    .county__display {
        display: none;
    }
    .country__content-link.active {
        color: #ffffff;
    }
}

@media (min-width: 1024px) {
    .advantage__content-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .advantage__content-item {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        max-width: 345px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 30px 30px 30px 30px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 20px;
        background: #FFFFFF;
        -webkit-box-shadow: 0px 0px 20px rgb(24 26 51 / 5%);
        box-shadow: 0px 0px 20px rgb(24 26 51 / 5%);
    }
    .advantage__sibtitle {
        font-size: 28px;
        font-weight: 600;
        line-height: 33px;
    }
    .advantage__text {
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
    }
    .advantage__content-item img {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 1024px) {
    ._container {
        max-width: 1024px;
    }
    .sizes__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 50px;
    }
    .sizes__list {
        width: 450px;
    }
    .header__content-phone {
        margin-left: 50px;
    }
    .advantage__content-item {
        height: 350px;
        margin-right: 50px;
        max-width: 100%;
    }
    .footer__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .footer__company {
        margin-top: 80px;
    }
    .footer__main {
        margin-top: 50px;
    }
    .footer__tel {
        margin-top: 50px;
    }
    .footer__btn {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
}

@media (max-width: 900px) {
    ._container {
        max-width: 900px;
    }
    .header__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .burger__menu-item {
        margin-right: 20px;
    }
    .menu__header {
        background: none;
    }
    .header__content-menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 30px 0px 30px 0px;
    }
    .header__content-logo {
        position: absolute;
        top: 0;
        padding: 75px 20px 20px 20px;
        background: -webkit-gradient(linear, left top, left bottom, from(#434669), color-stop(155.83%, #131528));
        background: -o-linear-gradient(top, #434669 0%, #131528 155.83%);
        background: linear-gradient(180deg, #434669 0%, #131528 155.83%);
        right: 30px;
    }
    .header__content-phone {
        margin-left: 0px;
        padding-top: 0px;
    }
    .header__content-phone {
        margin-bottom: 50px;
    }
    .menu__header-burger {
        background-color: #2B2D42;
    }
    .menu__header-burger::after {
        background-color: #2B2D42;
    }
    .menu__header-burger::before {
        background-color: #2B2D42;
    }
    .header__text {
        top: 130px;
        right: 70px;
        margin: 10px 0px 0px 0px;
        position: absolute;
    }
    .burger__menu-link {
        color: #2B2D42;
    }
    .advantage__title {
        font-size: 36px;
    }
    .advantage__content-item {
        height: 320px;
    }
    .advantage__sibtitle {
        font-size: 24px;
    }
    .advantage__text {
        font-size: 16px;
    }
    .country__content-link.active {
        color: #2B2D42;
    }
}

@media (max-width: 768px) {
    .footer__content-bottom {
        margin-top: 90px;
    }
    .bottom__footer-content {
        margin-top: 40px;
        margin-bottom: 40px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .bottom__link {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin-bottom: 30px;
    }
    .bottom__footer-copi {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        margin-bottom: 20px;
    }
    .bottom__footer-text {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .header__text {
        font-size: 12px;
        top: 110px;
        right: 45px;
        margin: 10px 0px 0px 0px;
        position: absolute;
    }
    .logo__display-block {
        width: 200px;
    }
    .header__content-logo {
        position: absolute;
        top: 0;
        padding: 75px 20px 20px 20px;
        background: -webkit-gradient(linear, left top, left bottom, from(#434669), color-stop(155.83%, #131528));
        background: -o-linear-gradient(top, #434669 0%, #131528 155.83%);
        background: linear-gradient(180deg, #434669 0%, #131528 155.83%);
        right: 30px;
    }
}

@media (max-width: 600px) {
    .logo__display-block {
        width: 180px;
    }
    .header__text {
        font-size: 10px;
    }
    .advantage__title {
        font-size: 34px;
    }
}

@media (max-width: 650px) {
    ._container {
        max-width: 650px;
    }
}

@media (max-width: 550px) {
    ._container {
        max-width: 550px;
        padding: 0 30px;
    }
    .hero__container {
        padding: 0;
    }
    .logo__display-block-mobile {
        width: 220px;
    }
    .footer__content {
        margin-top: 200px;
    }
    .footer__content {
        margin-top: 80px;
    }
    .footer__tel-link {
        font-size: 36px;
        line-height: 54px;
        text-align: center;
        margin-bottom: 70px;
    }
    .footer__btn {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
    .sizes__text-top {
        font-size: 16px;
    }
    .sizes__text-bottom {
        font-size: 16px;
    }
    .logo__display-block {
        width: 150px;
    }
    .header__content-logo {
        padding: 50px 20px 20px 20px;
    }
    .header__text {
        top: 75px;
        font-size: 9px;
    }
    .advantage__title {
        font-size: 30px;
    }
    .hero__text {
        padding: 20px 50px 100px 50px;
    }
}

@media (max-width: 500px) {
    ._container {
        max-width: 500px;
    }
    .hero__modal-content {
        width: 100%;
        max-width: none;
    }
    .footer__modal-content {
        width: 100%;
        max-width: none;
    }
    .hero__form {
        max-width: none;
        width: 100%;
    }
    .hero__form-btn {
        margin: 0px 20px 20px 20px;
        padding: 20px 0px;
        text-align: center;
    }
    .hero__form-text {
        margin: 0px 20px 30px 20px;
    }
    .hero__form-tel {
        margin: 0px 20px 30px 20px;
    }
    .hero__form-textarea {
        margin: 0px 20px 30px 20px;
    }
}

@media (max-width: 450px) {
    ._container {
        max-width: 450px;
        padding: 0 15px;
    }
    .hero__container {
        padding: 0;
    }
    .header__content-menu {
        padding: 15px 0px 30px 0px;
    }
    .logo__display-block {
        width: 100px;
    }
    .header__content-logo {
        padding: 35px 20px 20px 20px;
        top: 0px;
        right: 15px;
    }
    .header__text {
        top: 50px;
        font-size: 8px;
        right: 15px;
    }
    .footer__logo img {
        width: 300px;
    }
    .text__footer {
        font-size: 16px;
    }
    .footer__tel-link {
        font-size: 30px;
    }
    .advantage__title {
        margin-top: 50px;
        font-size: 24px;
    }
    .advantage__back-link {
        padding: 20px 30px;
        font-size: 16px;
    }
    .advantage__content-item {
        height: 300px;
        margin-right: 50px;
        padding: 30px 15px 30px 15px;
    }
    .advantage__text {
        font-size: 16px;
    }
    .advantage__sibtitle {
        font-size: 20px;
    }
    .hero__modal-title {
        font-size: 23px;
    }
}

@media (max-width: 350px) {
    ._container {
        max-width: 350px;
        padding: 0 15px;
    }
    .hero__container {
        padding: 0;
    }
    .logo__display-block-mobile {
        top: 42px;
        width: 200px;
    }
    .burger__menu-link {
        font-size: 20px;
    }
    .header__content-tel {
        font-size: 30px;
    }
    .footer__logo img {
        width: 250px;
    }
    .footer__tel-link {
        font-size: 24px;
    }
    .footer__btn {
        font-size: 16px;
    }
    .advantage__title {
        font-size: 20px;
    }
    .advantage__content-item {
        height: unset;
        margin-right: 50px;
        padding: 30px 15px 30px 15px;
    }
    .hero__text {
        padding: 20px 10px 100px 10px;
    }
}